<!-- app/views/shared/_navbar.html.erb -->
<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm py-3" style="min-height: 80px;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand fw-bold fs-3" do %>
      Mtl Mall
    <% end %>

    <div class="d-flex align-items-center gap-4 ms-auto order-sm-last">
      <span class="text-muted small text-uppercase">FR|EN</span>

      <%= link_to searchbar_path, class: "text-dark fs-5" do %>
        <i class="bi bi-search"></i>
      <% end %>

      <%= link_to user_favorites_path, class: "text-dark fs-5" do %>
        <i class="bi bi-star"></i>
      <% end %>

      <%= link_to cart_path, class: "text-dark fs-5" do %>
        <i class="bi bi-cart"></i>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to "#", class: "text-dark fs-5" do %>
          <i class="bi bi-person-fill"></i>
        <% end %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "text-dark fs-5" do %>
          <i class="bi bi-box-arrow-right"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "text-dark fs-5" do %>
          <i class="bi bi-person"></i>
        <% end %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-4 d-flex align-items-end pb-2">
        <li class="nav-item">
          <%= link_to "Brands", brands_path, class: "nav-link fw-semibold fs-5 #{'border-bottom border-2 border-dark' if current_page?(brands_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Music", music_path, class: "nav-link fw-semibold fs-5 #{'border-bottom border-2 border-dark' if current_page?(music_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Events", events_path, class: "nav-link fw-semibold fs-5 #{'border-bottom border-2 border-dark' if current_page?(events_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Advertise", advertise_path, class: "nav-link fw-semibold fs-5 #{'border-bottom border-2 border-dark' if current_page?(advertise_path)}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
