<div class="container py-5">
  <h1 class="fw-bold mb-4"><%= @event.name %></h1>

  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@event.image.presence || "default_event.webp", class: "img-fluid rounded") %>
    </div>
    <div class="col-md-6">
      <p><strong>Location:</strong> <%= @event.location %></p>
      <p><strong>Age Restriction:</strong> <%= @event.age_restriction %></p>
      <p><strong>Price:</strong> <%= number_to_currency(@event.price, unit: "$") %></p>
    </div>
  </div>
</div>

<% if @event.latitude.present? && @event.longitude.present? %>
  <div
    data-controller="mapbox"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapbox-lat-value="<%= @event.latitude %>"
    data-mapbox-lng-value="<%= @event.longitude %>"
    data-mapbox-name-value="<%= @event.name %>"
    style="height: 500px; width: 100%;"
  ></div>
<% end %>
